.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.hero-text{
    position: absolute;
    top: 35%;
    padding-left: 14em;
}
.hero-text h1 span{
    display: block;
    color: #fdfdfd;
    font-size: 2.5em;
    margin-bottom: 0.5em;
}
@media screen and (max-width:800px){
    .hero-text{
        padding-left: 1em;
    }
}
@media screen and (max-width: 400px){
    .hero-text h1 span{
        font-size: 1.5em;
    }
}
@media screen and (min-width: 401px) and (max-width:800px){
    .hero-text h1 span{
        font-size: 2em;
    }
}