header{
    height: 100vh;
    width: 100vw;
}
.scroll-btn > img{
    margin-top: 9em;
}
#contact-info, #contact-form{
    width: 50%;
}
#contact-form h3, form{
    width: 70%;
    margin: 0 auto;
}
form .btn{
    background-color: #3B8CC6;
    color: #ffffff;
}
#enquiries, #map{
    height: 80vh;
    width: 100vw;
}
#enquiries-info, #location{
    width: 70%;
    margin: 0 auto;
}
#icons{
    width: 50%;
}
#enquiries-info i, #location i, #icons i{
    font-size: 25px;
    color: #3B8CC6;
}
iframe{
    width: 100%;
    margin-top: 40px;
}
@media screen and (max-width:800px){
    #contact-info, #contact-form{
        width: 90%;
    }
    #enquiries {
        height: 100%;
    }
    #enquiries .container-fluid{
        flex-direction: column;
        padding-top: 2em;
        padding-bottom: 2em;
    }
    
}
